.page h1 {
    width: 70%;
    font-size: 3em;
    font-family: 'Permanent Marker', sans-serif;
    color: #2b2b2b;
    text-align: center;
    margin: 0 auto;
    padding: 1em 0;
    text-shadow: 5px 5px 10px #d0d0d0, -5px -5px 10px #ffffff;
    overflow: hidden;
}

.profit,
.authors {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-evenly;
    text-align: center;
    padding: 0 20px;
    grid-row-gap: 2rem;
    margin-bottom: 2rem;
}

.profit i {
    font-size: 3em;
    color: #e1643b;
    margin-bottom: 1rem;
}

.profit h2 {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.profit p {
    color: #737373;
    text-align: left;
    font-weight: 600;
}

.header {
    width: 70%;
    margin: 1em auto 1em;
    font-weight: 700;
    color: #2b2b2b;
    font-size: 2em;
    font-family: 'Permanent Marker', sans-serif;
    text-align: center;
}

.description {
    width: 70%;
    font-weight: 600;
    color: #737373;
    text-align: center;
    margin: 0 auto 2rem;
}

.authors {
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
}